<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Comando LED Raspberry">
    <meta name="keywords" content="HTML,CSS,JavaScript">
    <meta name="author" content="Leonardo Vanni">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LED Raspberry</title>
</head>
<body>
    <h2>Interruttore LED Raspberry</h2>
    <!-- <img src="pic_bulboff.gif" width="100" height="180"> -->
    <img src= "{{immagineLED}}" width="100" height="180">
    <form method="POST">
        <input type="radio" name="azioneLED" value="0">SPENGI<br>
        <input type="radio" name="azioneLED" value="1">ACCENDI<br>
        <input type="submit" value="INVIA">
    </form>
</body>
</html>